<?xml version="1.0" encoding="UTF-8"?>
<!-- 从Spring3.0开始，Spring提供了一个命名空间来配置定时任务，同时提供了一种方便的方法来配置触发器。 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/task  
   		  http://www.springframework.org/schema/task/spring-task-3.1.xsd
        ">
	<task:annotation-driven scheduler="myScheduler" mode="proxy"/>
	<task:scheduler id="myScheduler" pool-size="10"/>
	<task:scheduled-tasks scheduler="myScheduler">
		<task:scheduled ref="myJob" method="myJob" cron="*/5 * * * * *" />
	</task:scheduled-tasks>
</beans>
